* {
    background-color: #1d1d1d;
    font-family: 'Courier New', Courier, monospace;
}


.navbar {
    position: relative;
    color: #EDEDED;
    width: 100%;
}
.logo {
    margin: 0px;
    font-size: 30px;
    padding: 10px 25%;
}
.navcont {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 50px;
    margin: 0px;
    padding: 0px;
}
.navcont li {
    list-style: none;
    display: block;
    padding: 10px 40px;
}


main {
    position: relative;
    top: 5px;
    height: 500px;
    display: flex;
}

.sidecon1 {
    border: #ffffff;
    border-style: solid;
    position: relative;
    top: 12px;
    width: 25%;
    height: 30rem;
}
.sideh1con1 {
    color: #EDEDED;
    font-size: 30px;
    padding-top: 200px;
    text-align: center;
}

.maincon {
    border: #ffffff;
    border-style: solid;
    position: relative;
    top: 12px;
    width: 50%;
    height: 30rem;
}
.mainh1 {
    color: #EDEDED;
    font-size: 30px;
    padding-top: 200px;
    text-align: center;
}

.sidecon2 {
    border: #ffffff;
    border-style: solid;
    position: relative;
    top: 12px;
    width: 25%;
    height: 30rem;
}
.sideh1con2 {
    color: #EDEDED;
    font-size: 30px;
    padding-top: 200px;
    text-align: center;
}



footer {
    border: #ffffff;
    border-style: solid;
    position: relative;
    top: 15px;
}

.footh1con {
    color: #EDEDED;
    font-size: 30px;
    text-align: center;

}