* {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}
body {
    background-image: url('skyline.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1d1d1d;
}

.navbar {
    position: relative;
    color: #EDEDED;
    width: 100%;
    /*background-color: red;*/
}
.logo {
    margin: 0px;
    font-size: 30px;
    padding: 10px 25%;
}
.navcont {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 75px;
    padding: 0px;
}
.navcont li {
    list-style: none;
    display: block;
    padding: 10px 40px;
}


main {
    position: relative;
    top: 5px;
    height: 500px;
    display: flex;
}

.sidecon1 {
    /*border: #ffffff;*/
    /*border-style: solid;*/
    position: relative;
    width: 40%;
    height: 35rem;
}
.sideconli {
    color: #EDEDED;
    font-size: 50px;
    letter-spacing: 10px;
    list-style: none;
    padding-top: 270px;
    font-weight: 650;
}
.sideconcta {
    height: 45px;
    width: 200px;
    font-size: 20px;
    font-weight: 650;
    margin-left: 43px;
    margin-top: 10px;
    border-radius: 100px;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.5);
    color: #ffffff;
    transition: width 0.4s, height 0.4s, transform 2s;
    transition-timing-function: ease-in-out;
}
.sideconcta:hover {
    width: 260px;
    background-color: #FF9900;
}

.maincon {
    border: #ffffff;
    border-style: solid;
    position: relative;
    width: 60%;
    height: 35rem;
}
.mainh1 {
    color: #EDEDED;
    font-size: 30px;
    padding-top: 200px;
    text-align: center;
}

footer {
    border: #ffffff;
    border-style: solid;
    position: relative;
    top: 70px;
}

.footh1con {
    color: #EDEDED;
    font-size: 30px;
    text-align: center;

}