* {
    margin: 0px;
    font-family: "Montserrat", sans-serif;
}
body {
    background-image: url('skyline.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #1d1d1d;
}

.navbar {
    position: relative;
    color: #EDEDED;
    width: 100%;
    /*background-color: red;*/
}
.logo {
    margin: 0px;
    font-size: 30px;
    padding: 10px 25%;
}
.navcont {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 75px;
    padding: 0px;
}
.navcont li {
    list-style: none;
    display: block;
    padding: 10px 40px;
}


main {
    position: relative;
    top: 5px;
    height: 500px;
    display: flex;
}

.sidecon1 {
    border: #ffffff;
    border-style: solid;
    position: relative;
    width: 40%;
    height: 35rem;
}
.sideh1con1 {
    color: #EDEDED;
    font-size: 30px;
    padding-top: 200px;
    text-align: center;
}

.maincon {
    border: #ffffff;
    border-style: solid;
    position: relative;
    width: 60%;
    height: 35rem;
}
.mainh1 {
    color: #EDEDED;
    font-size: 30px;
    padding-top: 200px;
    text-align: center;
}

footer {
    border: #ffffff;
    border-style: solid;
    position: relative;
    top: 70px;
}

.footh1con {
    color: #EDEDED;
    font-size: 30px;
    text-align: center;

}